@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}
body{
  background: #FFF5DD;
}
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.container{
  padding-left: 10%;
  padding-right: 10%;
}
.btn{
  background: none;
  color: #fff;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  border:#fff solid;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.btn img{
  width: 30px;
  margin-left: 10px;
}